.board-display {
  width: 400px;
  height: 400px;
  display:block;
  border: 1px solid gainsboro;
  position: relative;
}

.board-square {
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 24px;

  &[color="BLACK"] {
    background-color: #888;
  }


  &[color="WHITE"] {
    background-color: #fafafa;
  }
}

.piece-name-display {
  //display: relative;
  position: absolute;
  width: 10px;
  height: 10px;
}